body {
  margin: 0;
  padding: 0;
  /* position: relative; */
  color: #484848;
  font-size: 14px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
html
{
  position: relative;
}
.container {
  max-width: 1000px;
  margin: 30px auto;
  position: relative;
  /* background-color: black;
  height: 100px; */
}
